<% if @messages.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Subject</th>
      <th>Sender</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% @messages.each_with_index do |message, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= message.subject %></td>
      <td><%= message.sender.name %></td>
      <td><%= message.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> No message found.
  </div>
<% end %>